@{
    ViewBag.Title = "Index";
   
}
<html>
<head>
    <title>
        Dashboard
    </title>
</head>
<body>
    <div>
        <center>
            <h1>
                Welcome
                @Session["username"].ToString()
            </h1>
        </center>


    </div>

</body>
</html>



